{% extends 'registration/door.html' %}

{% block content %}
    <div class="login-box">
        <div class="login-logo">
            <b>Smart</b>O<b>Meter</b>
        </div>
        <div class="login-box-body">
            <p class="login-box-msg">Enter your email to reset password.</p>
            <form method="post" >
                {% csrf_token %}
                {{ form.non_field_errors }}
                <div class="form-group has-feedback">
                    <input type="email" class="form-control" name="email" autofocus required placeholder="Email">
                    <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
                </div>
                <div class="row">
                    <div class="col-xs-6">
                        <a href="{% url 'dashboard' %}" class="btn btn-default btn-flat">Back</a>
                    </div>
                    <div class="col-xs-6">
                        <button type="submit" class="btn btn-primary btn-flat pull-right">Submit</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
