{% load static %}
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Smart O Meter</title>
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
  <link rel="stylesheet" href="{% static 'css/bootstrap/dist/css/bootstrap.min.css'%}">
  <link rel="stylesheet" href="{% static 'css/font-awesome/css/font-awesome.min.css'%}">
  <link rel="stylesheet" href="{% static 'css/Ionicons/css/ionicons.min.css'%}">
  <link rel="stylesheet" href="{% static 'css/iCheck/green.css'%}">
  <link rel="stylesheet" href="{% static 'css/AdminLTE.min.css'%}">
  <link rel="stylesheet" href="{% static 'css/skins/_all-skins.min.css'%}">
  <link rel="stylesheet" href="{% static 'css/custom.css'%}">
    {% block styles %}
    {% endblock styles %}
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">
</head>
<body class="hold-transition skin-green sidebar-mini">
    <!-- Site wrapper -->
    <div class="wrapper">
        <header class="main-header">
            <a href="#" class="logo">
                <span class="logo-mini"><b>S</b>oM</span>
                <span class="logo-lg"><b>Smart O Meter</b></span>
            </a>
            <!-- Header Navbar: style can be found in header.less -->
            <nav class="navbar navbar-static-top">
              <!-- Sidebar toggle button-->
              <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
                <span class="sr-only">Toggle navigation</span>
              </a>

              <div class="navbar-custom-menu">
                <ul class="nav navbar-nav">
                  <!-- User Account: style can be found in dropdown.less -->
                  <li class="dropdown user user-menu">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                      <span class="hidden-xs">{{ username }}</span>
                    </a>
                    <ul class="dropdown-menu">
                      <!-- Menu Body -->
                      <li class="user-body">
                        <div class="row">
                          <div class="col-xs-4 text-center">
                            <a href="{% url 'password_change'%}">Change Password</a>
                          </div>
                          <div class="col-xs-4 text-center">
                            <a href="#">Sales</a>
                          </div>
                          <div class="col-xs-4 text-center">
                            <a href="#">Friends</a>
                          </div>
                        </div>
                        <!-- /.row -->
                      </li>
                      <!-- Menu Footer-->
                      <li class="user-footer">
                        <div class="pull-left">
                          <a href="{% url 'profile' %}" class="btn btn-default btn-flat">Profile</a>
                        </div>
                        <div class="pull-right">
                          <a href="{% url 'logout' %}" class="btn btn-default btn-flat">Sign out</a>
                        </div>
                      </li>
                    </ul>
                  </li>
                </ul>
              </div>
            </nav>
        </header>
    <!-- =============================================== -->

        <!-- Left side column. contains the sidebar -->
        <aside class="main-sidebar">
        <!-- sidebar: style can be found in sidebar.less -->
        <section class="sidebar">
          <ul class="sidebar-menu" data-widget="tree">
            <li class="header"> MAIN NAVIGATION</li>
            <li><a href="/"><i class="fa fa-dashboard"></i><span>Dashboard</span></a></li>
            <li>
                <a href="{% url 'invoice_list'%}"><i class="fa fa-file-text-o" ></i><span>Invoice</span></a>
            </li>
            <li>
                <a href="{% url 'ticket_list'%}"><i class="fa fa-exclamation-triangle"></i><span>Ticket</span></a>
            </li>
            <li class="treeview">
              <a href="#">
                <i class="fa fa-table"></i> <span>Outage Management</span>
              </a>
            </li>
            <li><a href="#"><i class="fa fa-book"></i> <span>Documentation</span></a></li>
          </ul>
        </section>
        <!-- /.sidebar -->
        </aside>

    <!-- =============================================== -->

    <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            {% block content %}
            {% endblock content %}
            <div class="col-md-3" id="sm-chat" >
            </div>
        </div>
    </div>
    <!-- ./wrapper -->

    <!-- jQuery 3 -->
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <!-- Bootstrap 3.3.7 -->
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <!-- SlimScroll -->
    <script src="{% static 'js/jquery.slimscroll.min.js' %}"></script>
    <script src="{% static 'js/Chart.js' %}"></script>
    <!-- AdminLTE App -->
    <script src="{% static 'js/adminlte.min.js' %}"></script>
    <!-- AdminLTE for demo purposes -->
    <script src="{% static 'js/demo.js' %}"></script>
    <script>
        $(document).ready(function () {
            $('.sidebar-menu').tree()
        })
    </script>
    {% block script %}

    {% endblock script %}
</body>
</html>
